<div class="chat-main">
    <div class="chat-text">
        
    </div>
    <div class="chat-input">
        <form class="msg-form">
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default userid-edit"></a>
                </span>
                <input type="text" class="form-control msg-content">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-warning msg-submit"><i class="fa fa-send"></i> 送出</button>
                </span>
            </div>
        </form>
    </div>
    <div class="mouses">
        
    </div>

    <div class="modal fade user-id-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="userid-form">
                    <div class="modal-header">
                        <h4 class="modal-title">請輸入你的暱稱</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control userid" placeholder="打什麼都可以">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning"><i class="fa fa-check"></i> 確認</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>